.calculator {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: white;
  margin: 60px 0;
}

.calculator__screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #2F4F4F;
  color: white;
}

.calculator__screen-history {
  margin: 5px 5px 20px;
  font-size: 20px;
}

.calculator__screen-main {
  margin: 0 5px 5px;
  font-size: 30px;
}

.calculator__keyboard {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  color: #2F4F4F;
}

.calculator__keyboard::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.calculator__keyboard > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 3;
}

.calculator__keyboard > * {
  border: 1px white solid;
}

/* .calculator__keyboard > *:nth-child(3n-2):nth-last-of-type(1) {
  grid-column: span 2;
} */

.calculator__keyboard > *:nth-child(1n):nth-last-of-type(1) {
  grid-column: span 2;
}

.calculator__key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 0.1px solid gray;
  background: #E0FFFF;
}

.calculator__key:active {
  border: 0.1px dotted gray;
}
